body{
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
  background-color: #C2410C;
  padding: 1.5rem 2.5rem;
  
}

header h1{
  margin: 0;
  padding: 0;
  font-size: 1em;
  color: white;
}

.stickyTop{
	position: sticky;
  top: 0%;
  z-index: 5500;
}

.line{
  display: flex;
	flex-direction: row;
}

.line > * {
  flex: auto;
}

.block{
  display: block;
}

.block:not(.stickyTop) {
  padding: 1.5rem 0;
}

#menu{
  font-size: 0.8em;
  max-width: 20%;
  padding-top: 1.65rem;
  padding-right: 2%;
  padding-bottom: 1.5rem;
}

#menu ul{
  list-style: none;
}

#menu ul li a{
  color: #158cba
}

a {
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
}

.content-media {
  display: grid;
}

.content-media.content-media--center {
  justify-items: center;
}

.content-media.content-media--right {
  justify-items: end;
}

.content-media.content-media--left {
  justify-items: start;
}

.content-media .content-media__img img {
  position: relative;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  z-index: 1400;
}

.content-media .content-media__caption {
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  color: #7b7b7b;
  font-style: italic;
}

.content-media__modal {
  display: none;
  position: fixed;
  cursor: pointer;
  z-index: 9500;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.9);
}

.content-media__modal.on {
  display: block;
}

.content-media__modal-img {
  margin: auto;
  display: block;
  width: 75%;
  height: 75%;
  object-fit: contain;
}

.content-media__modal-caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.content-media__modal {
  animation: fadeIn 0.6s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.content-media__modal-img {
  animation: 
    zoomIn 0.6s cubic-bezier(0.645, 0.045, 0.355, 1.000),
    fadeIn 0.6s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.content-media__modal-caption {
  animation: 
    fadeIn 0.6s cubic-bezier(0.645, 0.045, 0.355, 1.000),
    slideIn 0.6s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.content-media__modal.out {
  animation: fadeOut 0.6s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.content-media__modal-img.out {
  animation: 
    zoomOut 0.6s cubic-bezier(0.645, 0.045, 0.355, 1.000),
    fadeOut 0.6s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.content-media__modal-caption.out {
  animation: 
    fadeOut 0.6s cubic-bezier(0.645, 0.045, 0.355, 1.000),
    slideOut 0.6s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

@media (prefers-reduced-motion: reduce) {
  .content-media__modal,
  .content-media__modal-img,
  .content-media__modal-caption,
  .content-media__modal.out,
  .content-media__modal-img.out,
  .content-media__modal-caption.out {
    animation: none;
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0.2);
  }
  to {
    transform: scale(1);
  }
}
@keyframes zoomOut {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to { 
    opacity: 1;
  }
}
@keyframes fadeOut {
  to {
    opacity: 0;
  }
}
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes slideOut {
  to {
    opacity: 0;
    transform: translateY(15px);
  }
}

@media only screen and (max-width: 700px){
  .content-media__modal img {
    width: 100%;
  }
}

/* used to display tooltip */
[data-tooltip] {
	position: relative;
	display: inline-block;
	text-align: center;
	z-index: 1500;
}

[data-tooltip]:before {
  content: attr(data-tooltip);
  background-color: #4d5052;
  max-width: 90%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0;
  height: auto;
  font-size: 14px;
  padding: 10px;
  border-radius: 4px;
  color: #ffffff;
  text-align: center;
  bottom: 95%;
	transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000), bottom 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

[data-tooltip]:hover:before {
  bottom: 103%;
  opacity: 1;
}

/* inline and block code */
code, pre {
  padding: 2px 4px;
  color: #1f1f1f;
  background-color: #f0f0f0;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

/* styled from markdown */
table, .colLeft {
  text-align: left;
}

/* styled from markdown */
table, .colRight {
  text-align: right;
}

/* styled from markdown */
table, .colCenter {
  text-align: center;
}

td, th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

/* style one in two row */
tr:nth-child(even) {
  background-color: #dddddd;
}

ul, ol {
  list-style: inside;
}

ol {
  list-style-type: decimal;
}

ul li.unChecked{
  list-style-type: "\\2610   ";
}

ul li.checked{
  list-style-type: "\\2611   ";
}

/* style definition list*/
dt {
  font-weight: bold;
  font-style: italic;
}

dd {
  line-height: 2;
}

/*style blockquote*/
blockquote{
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding-left: 0.5em;
}